:root {
    --brandYellow: #F9BD38;
    --brandBlue: #7FA8D6;
    --brandGreen: #3B8D7C;
    --brandBlack: #000;
    --brandRed: #F94936;
    --fontTitle: font-family: "futura-pt", sans-serif;
}

body {
    background-color: var(--brandYellow);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
h1 {
    font-family: var(--fontTitle);
    font-size: 6rem;
    letter-spacing: 5px;
    line-height: 1;
}
h2 {
    font-family: var(--fontTitle);
    font-size: 5rem;
    letter-spacing: 5px;
    line-height: 1;
}

header { height: 100vh; }
.intro {
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.intro h1, .intro h2, .intro img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.intro h1 {  margin: 25vh auto; }

.paralax {  margin: -300px 0 0; }
.paralax-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.paralax img, .paralax .paralax-title {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.paralax .meow {
    bottom: -218px;
}
.paralax-title {
    color: white;
    margin: 20vh auto;
    text-align: center;
}

.year {
    font-size: 7rem;
    transform: rotate(-90deg);
    transform-origin: center;
    width: max-content;
    margin: 6rem 0;
}
.discos {
    align-items: flex-start;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.cd-wrapper {
    margin: 2rem;
}
.cd {
    display: flex;
    margin: 0 0 1rem;
}
.cd img {
    margin-right: 3rem;
    width: 220px;
}
.cd .cd-name {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.cd .cd-info {
    font-size: 1.2rem;
    max-width: 46ch;
}
.cd:nth-child(even) { margin-left: 300px;}
.discos2 {
    background-color: var(--brandBlue);
}
.discos3{
    background-color: var(--brandGreen);
}

.looks {
    background-color: var(--brandRed);
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.looks-title {
    color: white;
    font-family: var(--fontTitle);
    font-size: 15rem;
    letter-spacing: 5px;
    line-height: 1;
    margin: 2rem auto;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.looks-img {
    position: absolute;
    height: 100vh;
    width: 100vw;    
}
.look-content-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.look-year {
    font-size: 7rem;
    flex: 1 1 20%;
    padding: 3rem;
    text-align: center;
}
.pic-wrapper {
    overflow: hidden;
}
.look-pic {
    flex: 1 1 30%;
    height: 500px;
    object-fit: cover;
}
.look {
    height: 50vh;
    flex: 1 1 50%;
}
.look-content-wrapper1 {
    background-color: grey;

}
.look-content-wrapper2 {
    background-color: white;
}
.look-content-wrapper3 {
    background-color: var(--brandRed);
}
.look-content-wrapper4 {
    background-color: black;
    color: #fff;
}
.look-content-wrapper5 {
    background-color: var(--brandBlue);
}
.look-content-wrapper6 {
    background-color: grey;
}
.end {
    background-image: url('img/bowie.jpg');
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.end img {
    filter: contrast(1.5);
    object-fit: contain;
    height: 100vh;
    width: 100vw;
}
.end h2 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100vw;
}

@media screen and (max-width: 78em) {  
    .looks-title { font-size: 8rem; }
    .cd-wrapper {  margin: 1rem; }
    .cd img {
        height: 200px;
        width: 200px;
    }
    .cd .cd-info { font-size:1rem; max-width: 60ch; }
    .cd:nth-child(even) { margin-left: 0;}
    h2 { font-size: 3rem; }
    h1 { font-size: 3rem; }
    .pic-wrapper {
        display: none;
    }    
}
@media screen and (max-width: 48em) {  
    .looks-title { font-size: 5rem; }
    .cd, .discos {  display: block; }
    .cd img {
        height: 100px;
        width: 100px;
    }
    .year {
        font-size: 4rem;
        margin: 1rem;
        transform: none;
    }
    .look-year {
        font-size: 4rem;
        padding: 1rem;
    }
    .look {
        height: 34vh;
        max-width: 50%;
    }
}